<!DOCTYPE html>
<html >
  <head>
	<meta charset="utf-8"><title> authors </title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
  
	
	<h2>Autor de la pagina: yo</h2> 

	
	
	
	<footer class="main" id="f1">
		<a href="http://es.wikipedia.org/wiki/Quiz">
			¿Que es Quiz?</a> </br>
		<a href="https://github.com/bbllaannqquuii/proyecto">
			Mi proyecto en GitHub</a>					
	</footer>
 
  </body>
</html>